.characters-container {
  width: 100%;
  margin-top: 5px;
}

.content {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px;
} 

.cards {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  width: 270px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #E6E6F0;
}

.card {
  cursor: pointer;
}

.card-header {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.card-header img {
  width: 100%;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header .poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -9px;
  margin-left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.card:hover .poster {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.poster {
  color: #e4bb23;
  font-size: 20px;
  align-items: center;
  text-transform: uppercase;
  margin-top: 10px;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
	transition-duration: 0.2 ease;
}

.poster h3 {
  text-align: center;
  margin-top: 55%;
}

.poster i:hover {
  color:  #e4bb23;
}

.card-body {
  text-align: left;
  padding: 15px 25px;
  background: white;
  height: 140px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-content {
  margin-left: -15px;
}

.card-content h1 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.card-content p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 100;
  color:  rgb(228, 187, 35);
}

.card-footer {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-between;
  margin-top: -10px;
}

.icon-favorites {
  margin-top: -30px;
  margin-left: 15px;
}

.price {
  margin-top: -30px;
  margin-right: 12px;
  padding-bottom: 10px;
  font-weight: 500;
  color: green;
  font-size: 16px;
}